HTML, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr; /* Sidebar + Main Section */
    grid-template-rows: auto auto; /* Ensures sections stack properly */
    width: 100%;
    height: 100vh;
}

.side-bar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 9fr;

    grid-column: 1;
    grid-row: 1 / span 2;
    gap: 15px;
    grid-column: 1;
    background-color:rgb(100, 145, 228);
    color: white;
    font-weight: bold;
}

.nav-image{
    max-width: 50%;
    align-self: center;
    justify-self: center;
    filter:invert(100%) brightness(100%);
}

.nav-menu{
    align-self: center;
    justify-self: start;
}

.side-bar :first-child,
.side-bar :nth-child(2) {
    max-width: 100%;
    margin-bottom: 2em;
}

.side-bar :nth-last-child(5),
.side-bar :nth-last-child(6) {
    margin-top: 2em;
}

.side-bar :nth-last-child(1),
.side-bar :nth-last-child(2) {
    margin-bottom: 50em;
}


.top-section {
    padding: 10px;
    display: grid;
    grid-template-columns: 0.25fr 8fr 2fr 1fr 3fr 2fr; 
    grid-template-rows: 1fr 2r;
    gap: 20px;
    /* grid-template-areas: 
    "search-icon search-bar . bell profile name"
    "profile name . new-button upload-button share-button"; */


    height: 100%;
    background-color: red;
}

.top-section > * {
    /* justify-self: center;
    align-self: center; */
}

.search-icon{
    max-width: 75%;
    justify-self: center;
    align-self: center;
}

.search-bar{
    grid-column: 2 / span 2;
    justify-self: start;
    align-self: center;
    width: 90%;
    height: 60%;
    border: solid rgb(214, 222, 231) 1px;
    border-radius: 30px;
    background-color: rgb(214, 222, 231);

}

.search-icon,
.search-bar {

}

.bell{
    max-width: 50%;
    justify-self: center;
    align-self: center;
}

.profile{
    max-width: 30%;
    justify-self: center;
    align-self: center;
}

.name{
    justify-self: start;
    align-self: center;
    font-weight: bold;
}